<div class="container">
    <h1>Select Times for a Meeting</h1>
    <h1 id="month"></h1>
  <div class="row" id="calendar-row">
    <!-- Columns for days of week/month will be dynamically generated here -->
  </div>
  <div class="row">
    <div class="col text-center">
      <button id="create-meeting-button" class="btn btn-primary">Create Meeting</button>
    </div>
  </div>
</div>
<button id="prev-button" class="btn btn-primary">&lt;</button>
<button id="next-button" class="btn btn-primary">&gt;</button>
<script src="./js/homepagev2.js"></script>