<div class="container">
  <h1>Meeting</h1>
  <h1 id="month"></h1>
  <div class="row" id="calendar-row">
    <!-- Columns for days of week/month will be dynamically generated here -->
  </div>
  
  <div class="row">
    <div class="col text-center">
      <button id="update-availability-button" class="btn btn-primary">Update Availability</button>
      <button id="zoom-meeting-button" class="btn btn-primary">Create Zoom Meeting</button>
    </div>
  </div>
</div>

<script>
  var startDate = "{{startDate}}";
  var potentialTimes = {{{potentialTimes}}};
</script>

<script src="/js/meeting.js"></script>