<div class="container">
  <h1>Availability | Select more times</h1>
  <h1 id="month"></h1>
  

  <div id="participants-container" style="display: none;">
    <h3>Participants</h3>
    <ul>
      {{#each users}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="row" id="calendar-row">
    <!-- Columns for days of week/month will be dynamically generated here -->
  </div>
  
  <div class="row">
    <div class="col text-center">
      <button id="toggle-participants-button" class="btn btn-primary">Show Participants</button>
      <button id="update-availability-button" class="btn btn-primary">Add Availability</button>
      <button id="zoom-meeting-button" class="btn btn-primary">Create Zoom Meeting</button>
    </div>
  </div>
</div>

<script>
  var startDate = "{{startDate}}";
  var potentialTimes = {{{potentialTimes}}};
</script>

<script src="/js/meeting.js"></script>