header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1 { 
  text-align: center;
}
nav {
  margin-left: auto; 
}

.column-content { 
  display: flex;          
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  border: 2px solid #ccc; 
  width: 100%;   
  height: 75vh;  
}
.day-name {
  font-size: 1.2em; 
  font-weight: bold; 
}

.day-date {
  font-size: 1.5em; 
  font-weight: bold;
}

.column-content:hover { 
  background-color: #f0f0f0;  /* Example: Light gray background on hover */
}
.row-list {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;   
  flex-grow: 1;
  justify-content: space-around; /* Distribute rows evenly */
}
.row { 
  margin: 2px;
  border: 2px solid #ccc; 
  flex-grow: 1;            /* Allow each row to expand */ 
}
.row-list .row{
  justify-content: center;
  user-select: none; 
  
}
.row-list .row .time { 
  display: flex;          /* Enable Flexbox for the column */
  align-items: center;    /* Centers content vertically */
  justify-content: center;/* Centers content horizontally */
}

.row-list .row.highlighted {
  background-color: rgb(145, 145, 255); 
}
